# Please set 'QIITA_TOKEN' secret to your repository
name: Publish articles

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish_articles:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: increments/qiita-cli/actions/publish@dab97ad872206af90aebdb63570df375c4be2c49 # v1.7.0
        with:
          qiita-token: ${{ secrets.QIITA_TOKEN }}
          root: '.'
